.lds-ripple {
	color: var(--inverted-bg-color);
}

.lds-ripple,
.lds-ripple div {
	box-sizing: border-box;
}

.lds-ripple {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 120px;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid currentcolor;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	opacity: 1;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 8px;
		height: 8px;
		opacity: 0;
	}

	4.9% {
		top: 36px;
		left: 36px;
		width: 8px;
		height: 8px;
		opacity: 0;
	}

	5% {
		top: 36px;
		left: 36px;
		width: 8px;
		height: 8px;
		opacity: 1;
	}

	100% {
		top: 0;
		left: 0;
		width: 80px;
		height: 80px;
		opacity: 0;
	}
}
