.Modal {
	position: fixed;
	z-index: var(--below-z-index);
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: var(--overlay-color);
	transition: opacity var(--transition-duration-default);
}

.content {
	position: relative;
	z-index: 1;
	min-width: 300px;
	max-width: 70%;
	min-height: 200px;
	padding: 20px;
	border-radius: 12px;
	transform: scale(0.5);
	opacity: 0;
	background-color: var(--bg-color);
	transition: transform var(--transition-duration-default), opacity var(--transition-duration-default);
}

.opened {
	z-index: var(--modal-z-index);
	pointer-events: auto;

	.overlay {
		opacity: 1;
	}

	.content {
		transform: scale(1);
		opacity: 1;
	}
}

.isClosing {
	.overlay {
		opacity: 0;
	}

	.content {
		transform: scale(0.5);
		opacity: 0;
	}
}
