.Button {
	cursor: pointer;
	color: inherit;
}

.clear {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}

.outline {
	padding: 10px 15px;
	border: 1px solid var(--primary-color);
	background-color: transparent;
	color: var(--primary-color);
}
