.Sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	width: var(--sidebar-width);
	height: calc(100vh - var(--navbar-height));
	padding: 20px 10px;
	transition: width 0.3s;
	background: var(--inverted-bg-color);
}

.collapsed {
	width: var(--sidebar-width-collapsed);
}

.switchers {
	display: flex;
	justify-content: center;
	margin-top: auto;

	.collapsed & {
		flex-direction: column;
		align-items: center;
	}
}

.lang {
	margin-left: 20px;
	color: var(--inverted-primary-color);

	.collapsed & {
		margin-left: 0;
	}
}

.collapseBtn {
	position: absolute;
	right: -32px;
	bottom: 32px;
}

.links {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.collapsed & {
		align-items: center;
	}
}

.link {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--inverted-primary-color);
}

.icon {
	flex: 0 0 20px;
	width: 20px;
	height: 20px;
}

.linkText {
	overflow: hidden;
	transition: opacity 0.3s, width 0.3s;
	white-space: nowrap;
	text-overflow: ellipsis;

	.collapsed & {
		width: 0;
		opacity: 0;
	}
}
