.app.dark {
    --bg-color: #002a6e;
    --inverted-bg-color: #e5e5e5;

    --primary-color: #00793c;
    --secondary-color: #00bd61;
    --inverted-primary-color: #0043b7;
    --inverted-secondary-color: #2776ff;
}