.app_dark_theme {
	--bg-color: #002a6e;
	--inverted-bg-color: #e5e5e5;
	--primary-color: #00bd61;
	--secondary-color: #00a853;
	--inverted-primary-color: #0043b7;
	--inverted-secondary-color: #2776ff;
}
